body {
	min-height: 100%;
	min-width: 1090px;
	background-color: #fff;
}

body,
button,
code,
input,
select,
textarea {
	font-family: "Microsoft Yahei", "微软雅黑", verdana;
	color: #333;
}

ul,
li {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nr-header-r a,
.flsRi .module-0 .moduleBd .item .bd>.tit a,
.flsRi .module-0 .moduleBd .item .bd .btn a {
	color: #000;
	text-decoration: none;
}

.nr-header-l a {
	color: #333;
}

.name:hover,
.nr-header-r a:hover,
.m-popularItem .bb .name a:hover,
.flsRi .module-0 .moduleBd .item .bd>.tit a:hover,
.flsRi .module-0 .moduleBd .item .bd .btn a:hover {
	color: #CC9756;
	text-decoration: none;
}

.header-box {
	position: relative;
}

.header-box-a {
	position: relative;
	height: 36px;
	line-height: 36px;
	background-color: #333;
	z-index: 5;
}

.center {
	width: 1090px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.header-box-b {
	height: 140px;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.header-box-a-l {
	width: 23%;
	float: left;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
	background: url(../image/d132c2561f18f1149d566a60d05fd9b7.gif) center left no-repeat;
}

.header-box-a-list {
	position: relative;
	top: 0;
}

.header-box-a-list>li {
	padding-left: 26px;
	height: 36px;
}

.header-box-a-list>li a {
	color: #CC9756;
	font-size: 12px;
	display: inline-block;
	text-decoration: underline;
}

.header-box-a-list>li a:hover,
.header-box-a-item>a:hover {
	color: #fff;
	text-decoration: none;
}

.header-box-a-r {
	float: right;
	width: 45%;
	height: 36px;
}

.header-box-a-item {
	float: left;
	margin-left: 10px;
	position: relative;
	color: #ccc;
	font-size: 12px;
	line-height: 36px;
	cursor: pointer;
}

.pipe:before {
	content: '';
	display: inline-block;
	height: 16px;
	border-left: 1px solid #5c5c5c;
	vertical-align: middle;
}

.header-box-a-item>a,
.header-box-a-item {
	padding-left: 4px;
	display: inline-block;
	color: #ccc;
}

.header-box-a-item>a i,
.gwc-center i,
i {
	font-style: normal;
}

a {
	text-decoration: none;
}

.header-box-a-item .icon {
	height: 5px;
	width: 11px;
	transform: rotate(180deg);
}

.header-box-a-item .icon,
.header-box-a-item .icon2,
.header-box-b .logo,
.gwc-center .icon3,
.gwc-center .icon4,
.icon5,
.icon6 {
	background: url(../image/icon.webp);
	background-position: 0 -690px;
	display: inline-block;
}

.header-box-a-item .icon2 {
	margin-right: 6px;
	height: 12px;
	background-position: 0 0;
}

.header-box-b .logo {
	display: inline-block;
	position: absolute;
	top: 24px;
	left: 0;
}

.header-box-b .logo {
	background-position: 0 -298px;
	height: 60px;
	width: 212px;
}

.gwc {
	position: relative;
	margin-top: 26px;
	margin-left: 49px;
	float: right;
	z-index: 4;
}

.gwc-center {
	position: relative;
	cursor: pointer;
	width: 134px;
	height: 38px;
	border: 1px solid #CC9756;
	border-radius: 19px;
	padding: 8px 0;
}

.gwc-center .icon3 {
	margin-left: 22px;
	background-position: 0 -148px;
	height: 18px;
	width: 18px;
}

.gwc-center .icon4 {
	margin-left: 10px;
	margin-top: -1px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	z-index: 1;
	background-position: 0 -51px;
	height: 19px;
	width: 19px;
}

.gwc-center span {
	color: #CC9756;
	margin-left: 5px;
	margin-top: -1px;
	font-size: 14px;
}

.gwclist {
	line-height: 1;
	font-weight: 700;
	position: absolute;
	height: 30px;
	bottom: 21px;
	width: 100%;
}

.gwclist-item {
	float: left;
	margin-top: 27px;
	padding: 0 24px;
	font-size: 14px;
}

.gwclist-item>a {
	display: block;
	padding-bottom: 7px;
	color: #000;
}

.gwclist-item a:hover,
.gwclist-item a.active {
	color: #CC9756;
	border-bottom: 3px solid #CC9756;
}

.icon5 {
	position: absolute;
	left: 18px;
	top: 12px;
	background-position: 0 -518px;
	height: 14px;
	width: 14px;
	z-index: 2;
}

.inputtext {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: block;
	height: 38px;
	line-height: 38px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid #CC9756;
	border-bottom-left-radius: 19px;
	border-top-left-radius: 19px;
	font-size: 14px;
	width: 442px;
	padding-left: 38px;
	outline: 0;
	overflow: hidden;
}

.inputword {
	position: absolute;
	top: 12px;
	left: 38px;
	color: #999;
	display: block;
	line-height: 1;
	cursor: text;
	touch-action: none;
	-ms-touch-action: none;
	pointer-events: none;
	-ms-pointer-events: none;
	-webkit-user-select: none;
	white-space: nowrap;
	overflow: hidden;
	width: 390px;
	text-overflow: ellipsis;
	font-size: 14px;
	z-index: 2;
}

.searchbtn {
	width: 90px;
	height: 38px;
	background-color: #CC9756;
	border-top-right-radius: 19px;
	border-bottom-right-radius: 19px;
	cursor: pointer;
	float: right;
	color: #fff;
	line-height: 38px;
	font-size: 16px;
	letter-spacing: 1px;
}

.icon6 {
	background-position: 0 -602px;
	height: 20px;
	width: 20px;
}

.banner {
	position: relative;
	height: 420px;
	max-width: 1920px;
	margin: 0 auto;
}

.banner .pic img {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: all .5s linear;
}

.banner .cirle {
	position: absolute;
	z-index: 10;
	left: 50%;
	bottom: 0;
	margin-left: -84px;
}

.banner .pic img.active {
	opacity: 1;
}

.banner .cirle>li,
.flscirle li {
	width: 8px;
	height: 8px;
	margin: 0 8px 10px;
	padding: 0;
	cursor: pointer;
	float: left;
	background: #fff;
	border: 1px solid #cecece;
	border-radius: 50%;
}

.banner .cirle>li.active,
.flscirle li.active {
	box-shadow: 0 0 0 4px #dfcead;
	background: #a7936e;
}

.prev,
.next,
.flsprev,
.flsnext {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: #E2C199;
	border-radius: 50%;
	top: 45%;
	opacity: .6;
	background-image: url(../image/icon-normal-s33e647f656-a21248af33.webp);
}

.flsprev,
.flsnext {
	opacity: 1;
	width: 30px;
	height: 30px;
}

.prev,
.flsprev {
	left: 50px;
	background-position: 0 -5408px;
}

.next,
.flsnext {
	right: 50px;
	background-position: 0 -5628px;
}

.prev:hover,
.next:hover {
	opacity: 1;
}

.zzs {
	height: 368px;
	margin-top: 20px;
}

.nr-header {
	width: 100%;
	height: 48px;
	margin-top: -20px;
}

.nr-header-l,
.nr-header-r {
	line-height: 1;
}

.name {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	float: left;
	margin-right: 20px;
}

.name2 {
	padding-top: 30px;
	display: inline-block;
	line-height: 1;
	font-size: 14px;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.nr-header-r .more {
	display: inline-block;
	line-height: 1;
	padding-top: 14px;
	cursor: pointer;
	margin-left: 30px;
}

.zzs .bd {
	height: 320px;
	margin-top: 15px;
}

/* .xpsf .bd {
	height: 344px;
	margin-top: 40px;
} */

.rqtj .tab {
	height: 28px;
}

.rqtj .tab li {
	float: left;
	font-size: 14px;
	width: 70px;
	line-height: 28px;
	margin-right: 55px;
	position: relative;
	z-index: 2;
	text-align: center;
	cursor: pointer;
	top: -25px;
	left: 140px;
}

.rqtj .tab li a.active {
	border-bottom: 2px solid #b4a078;
	color: #b4a078;
}

.rqtj .bd {
	height: 530px;
	margin-top: 20px;
}

.fls .bd {
	height: 376px;
	margin-top: 20px;
}

.wrap {
	padding: 60px 0;
	background: #f4f0ea;
}

.split {
	margin: 0 13px;
}

.jjshlist {
	overflow: hidden;
}

.jjshlist span a {
	font-size: 14px;
}

.jjsh .banner {
	height: 310px;
	margin-top: 25px;
}

.jjsh {
	margin: 30px auto;
}

.jjsh .bd {
	height: 411px;
	margin-top: 20px;
}

.zxj .bd {
	height: 380px;
	margin-top: 20px;
}

.speak .bd {
	height: 492px;
	background: red;
}

.zzsnr {
	display: inline-block;
	width: 357px;
	height: 320px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	margin-left: 6px;
}

.zzsnr2 {
	height: 155px;
	margin-top: 11px;
}

.zzsnr:hover {
	text-decoration: none;
}

.txt {
	color: #000000;
	margin-top: 14%;
}

.txt .newstag {
	display: inline-block;
	font-size: 11px;
	margin-left: 2px;
	text-align: center;
	line-height: 19px;
	width: 32px;
	height: 21px;
	color: #fff;
	background: url(../image/tag.webp) center no-repeat;
}

.zzsnr .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all .5s linear;
}

.txt .title {
	font-size: 24px;
	margin-left: 40px;
}

.txt .price {
	font-size: 14px;
	padding-top: 17px;
	display: inline-block;
	width: auto;
	border-top: 1px solid #666;
	margin-top: 30px;
}

.zzsnr2 .txt {
	margin-top: 4%;
	margin-left: -56%;
}

.zzsnr:hover .mask {
	transform: scale(1.1);
}

.m-popularItem {
	background-color: #fff;
	overflow: hidden;
	width: 223px;
	height: 260px;
	float: left;
	margin-left: 10px;
	text-align: center;
}

.m-popularItem:hover .img {
	transform: scale(1.1);
}

.m-popularItem {
	position: relative;
}

.m-popularItem:first-child {
	width: 390px;
	height: 530px;
	margin-left: -250px;
}

.down {
	margin-top: 10px;
}

.nr-header-r a {
	display: inline-block;
	margin-top: 18px;
}

.rqtj .tab li a:hover {
	text-decoration: none;
}

.m-popularItem:first-child .aa {
	margin-bottom: 18px;
}

.m-popularItem .aa {
	background: 0 0;
	border-bottom: 1px solid #F4F0EA;
}

.m-product .aa {
	position: relative;
	margin-bottom: 8px;
	overflow: hidden;
	background-color: #f4f4f4;
}

.m-popularItem:first-child .aa .img {
	width: 320px;
	height: 320px;
	margin: 40px 35px;
	transition: all .5s linear;
}

.m-popularItem .aa .img {
	width: 180px;
	height: 180px;
	transition: all .5s linear;
}

.m-popularItem .promoLogo {
	position: absolute;
	left: 6px;
	top: 6px;
}

img {
	vertical-align: top;
}

.m-popularItem .promBanner {
	text-align: left;
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
	height: 30px;
	background-repeat: no-repeat;
	padding-right: 10px;
}

.m-popularItem:first-child .promBanner {
	bottom: 130px;
}

.m-popularItem .promBanner .promTitle {
	max-width: 200px;
	height: 38px;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right;
	margin-top: -10px;
	z-index: 1;
	padding-left: 8px;
	padding-right: 72px;
	float: left;
	border-top-left-radius: 3px;
}

.m-popularItem .promBanner .promTitle .title {
	font-size: 12px;
	height: 15px;
	margin-top: 5px;
	margin-left: 0;
	padding-top: 0;
}

.m-popularItem .promBanner .promTitle .title,
.m-popularItem .promBanner .promTitle .subTitle {
	text-align: center;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.m-popularItem .promBanner .promTitle .subTitle {
	font-size: 14px;
	height: 20px;
	line-height: 14px;
	margin-top: -1px;
	font-weight: 700;
}

.m-popularItem .promBanner .promTitle .subTitle .qi {
	font-weight: 400;
	font-size: 12px;
	display: inline-block;
}

.m-popularItem .promBanner .promContent {
	color: #fff;
	text-align: left;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 4px;
	padding-left: 4px;
}

.m-popularItem:first-child .bb .prdtTags {
	margin-bottom: 10px;
}

.prdtTags {
	height: 20px;
	font-size: 0;
	color: #fff;
	width: 200px;
	margin: 0 auto 3px;
	overflow: hidden;
}

.m-popularItem:first-child .bb {
	margin-bottom: 13px;
	font-size: 18px;
}

.m-popularItem .bb .name {
	line-height: 18px;
	margin-bottom: 3px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 22%;
	font-size: 13px;
}

.m-popularItem:first-child .bb .name {
	margin-left: 28%;
	font-size: 18px;
}

.m-popularItem .bb .name a {
	color: #000000;
}

.m-popularItem .bb .price {
	margin: 30px 0;
	color: #d4282d;
	font-size: 18px;
}

.m-popularItem:first-child .bb .price {
	margin: 50px 0;
}

.rqtj .bd {
	display: none;
}

.rqtj .bd.active {
	display: block;
}

.flsLe {
	width: 224px;
	height: 100%;
	position: relative;
}

.flsRi {
	width: 866px;
	height: 100%;
}

.flspic img {
	position: absolute;
	opacity: 0;
}

.flspic img.active {
	opacity: 1;
}

.flscirle {
	position: absolute;
	bottom: 0;
	left: 35%;
}

.flsprev {
	left: 0;
	background-position: -11px -5417px;
}

.flsnext {
	right: 0;
	background-position: -11px -5637px;
}

.flsbtn {
	width: 100%;
	height: 30px;
	margin-top: 75%;
	display: none;
}

.flsLe:hover .flsbtn {
	display: block;
}

.flsRi .moudle {
	float: left;
	background-color: #fff;
}

.flsRi .module-0 {
	width: 624px;
	height: 376px;
	padding: 0 17px 0 19px;
}

.flsRi .module-1,
.flsRi .module-2 {
	width: 242px;
	height: 188px;
	padding: 0 20px 0 22px;
	border-left: 1px solid #F4F0EA;
}

.flsRi .moudle .moduleHd {
	padding: 19px 0 40px;
}

.flsRi .module-0 .moduleHd {
	font-size: 18px;
	border-bottom: 1px solid #F4F0EA;
}

.flsRi .moudle .moduleHd .lt {
	font-size: 16px;
	margin-top: 5px;
}

.flsRi .moudle .moduleHd .rt a {
	font-size: 12px;
	margin-top: 12px;
}

.flsRi .module-0 .moduleBd {
	margin-top: 20px;
	margin-right: -20px;
}

.flsRi .module-0 .moduleBd .item {
	position: relative;
	width: 284px;
	margin: 0 20px 20px 0;
	font-size: 14px;
	height: 130px;
}

.flsRi .module-0 .moduleBd .item .hd {
	position: relative;
	width: 130px;
	height: 130px;
	margin-right: 10px;
	background-color: #FBF9F6;
}

.flsRi .module-0 .moduleBd .item .bd>.tit {
	max-width: 130px;
	max-height: 40px;
	overflow: hidden;
	margin-top: -30px;
	font-size: 14px;
	line-height: 20px;
}

.flsRi .module-0 .moduleBd .item .bd .limitPrice {
	color: #BE4141;
}

.flsRi .module-0 .moduleBd .item .bd .limitPrice .yen {
	font-size: 12px;
	vertical-align: -2px;
}

.flsRi .module-0 .moduleBd .item .bd .limitPrice .num {
	vertical-align: -2px;
	font-size: 20px;
	font-weight: 700;
}

.flsRi .module-0 .moduleBd .item .bd .counterPrice {
	margin-top: 2px;
	color: #A4A4A4;
}

.flsRi .module-0 .moduleBd .item .bd .counterPrice .num {
	text-decoration: line-through;
}

.flsRi .module-0 .moduleBd .item .bd .btn {
	width: 90px;
	line-height: 26px;
	text-align: center;
	background-color: #BE4141;
	border: 1px solid #D25A5A;
	border-radius: 2px;
}

.w-button {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 96px;
	height: 28px;
	padding: 0;
	letter-spacing: normal;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	color: #333;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
}

.flsRi .module-0 .btn {
	padding: 0 12px;
}

.w-button,
.w-linkicon:hover .txt {
	cursor: pointer;
}

.flsRi .module-0 .moduleBd .item .bd .btn a {
	color: #fff;
}

.item .img {
	height: 100% !important;
}

.flsnext,
.flsprev {
	width: 30px!important;
	height: 30px!important;
	border-radius: 50%;
	display: none!important;
}

.flsLe:hover .flsprev,
.flsLe:hover .flsnext {
	display: block!important;
}

.flsprev {
	background: url(../image/flsprev.webp) no-repeat;
}

.flsnext {
	background: url(../image/flsnext.webp) no-repeat;
}

.ggprev,
.ggnext {
	background-color: #D0C4AF!important;
}

.ggprev:hover,
.ggnext:hover {
	background-color: burlywood!important;
}

.xpsfsw1 {
	width: 265px!important;
	height: 344px!important;
	float: left;
	margin-left: 10px;
}

.itme {
	float: left;
	margin: 0 10px 50px 0;
	width: 265px;
	height: 361px;
}

.itme:nth-child(4) {
	margin-right: 0;
}

.itme .hd {
	position: relative;
	margin-bottom: 8px;
	overflow: hidden;
	background-color: #f4f4f4;
	width: 265px;
	height: 265px;
}

.itme .hd .imgScene {
	width: 265px;
	height: 265px;
	transition: transform 1s;
	background-color: #f4f4f4;
	color: #f4f4f4;
	display: block;
}

.itme:hover .hd {
	height: 361px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
	background-color: #f4f0ea;
}

.itme:hover .hd .img {
	opacity: 1!important;
}

.itme .hd .img {
	width: 265px;
	height: 265px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	opacity: 0!important;
}

.itme .hd .promoLogo {
	position: absolute;
	left: 6px;
	top: 6px;
	width: 48px;
	height: 48px;
}

.itme .bd {
	height: 71px;
	position: absolute;
	bottom: 80px;
	margin-left: 30px;
}

.itme .bd .prdtTags {
	height: 20px;
	font-size: 0;
	color: #fff;
	width: 200px;
	margin: 0 auto 3px;
	overflow: hidden;
}

.itme .bd .tit {
	text-align: center;
}

.itme .bd .tit a {
	display: inline-block;
	margin-bottom: 4px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}

.itme .bd .price {
	font-size: 13px;
	line-height: 13px;
	color: #d4282d;
	padding: 1px 0 9px;
	margin: 0;
	text-align: center;
}

.zxjbdnr .frist {
	margin-left: 0;
	width: 690px;
}

.zxjbdnr .expert {
	margin-left: 0;
	width: 690px;
}

.zxjbdnr .small {
	width: 390px;
	margin-top: 12px;
}

.zxjbdnr .expert.frist .img {
	width: 690px;
	height: 380px;
}

.zxjbdnr .expert.small .img {
	width: 390px;
	height: 185px;
}
.xpsfsw1 .hd{
	background-color: transparent;
	position: relative;
    margin-bottom: 8px;
    overflow: hidden;
}
.xpsfsw1 .img{
	width: 265px;
	height: 265px;
	opacity: 1;
}